
    <div class="container">
        <div class="row">
   
              <div class="col-md-6 d-block mx-auto">
                <div class="card mb-6 shadow-sm">                         
                    <p class="card-text"><p>商品名</p> <%= @stock.item_name %></p>
                      <div class="card mb-2 shadow-sm">  
                        <%= image_tag @stock.image, class:"bd-placeholder-img card-img-top", width:"50%", height:"50%", preserveAspectRatio:"xMidYMid slice" %>  
                      </div>
                        <p class="card-text">
                        <div class='stock-info'>商品情報</div><%= @stock.info %>                        
                        </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <p class="stock-quantity">
                              <p>数量</p>
                            </p>
                          <div class="col-md-3">
                            <p class="border"><%= @stock.stock_quantity %></p>
                          </div>
                        </div>
                    </p>
                     <% if user_signed_in? && current_user.id == @stock.user_id %>
                        <div class="btn">
                          <%= link_to '編集', edit_stock_path(@stock.id), class:"btn bg-light btn-outline-secondary", method: :"get" %>
                          <%= link_to '削除', stock_path(@stock.id), method: :'delete', class:"btn bg-light btn-outline-secondary" %>
                        </div>
                     <% elsif user_signed_in? && current_user.id != @stock.user_id %>
                        <div class="btn">
                          <%= link_to '編集', edit_stock_path(@stock.id), class:"btn bg-light btn-outline-secondary", method: :"get" %>
                        </div>
                     <% end %>
                   </div>   
                </div>                        
            </div>  
    
        </div>
    </div>
